*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
nav{
    background:#222;
    color:white;
    display:flex;
    justify-content:space-between;
    padding:20px 60px;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

/* Hero */
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px 60px;
    background:#f4f4f4;
}

.header-text{
    width:50%;
}

.header-text h1{
    font-size:40px;
}

.header-text p{
    margin:20px 0;
    font-size:18px;
}

.header-text button{
    background:#6c63ff;
    color:white;
    padding:12px 25px;
    border:none;
    border-radius:5px;
}

/* Hero Image */
.header-img img{
    width:350px;
}

/* Features */
.features{
    padding:60px;
    text-align:center;
}

.box-container{
    display:flex;
    justify-content:space-around;
    margin-top:40px;
}

.box{
    width:250px;
    background:#f4f4f4;
    padding:20px;
    border-radius:10px;
}

/* About */
.about{
    background:#6c63ff;
    color:white;
    padding:60px;
    text-align:center;
}

/* Contact */
.contact{
    padding:60px;
    text-align:center;
}

/* Footer */
footer{
    background:#222;
    color:white;
    text-align:center;
    padding:15px;
}